@charset "utf-8";
/* CSS Document */
.nav-link{
	transition:0.5s !important;
    font-family: poppins !important;
}
.navbar-brand{
	color: #E1B813 !important;
}
.nav-link:hover{
	color:#E1B813 !important;
	}
.B-I{
	height:700px;
	background-image:url(../img/B-7.png);
	background-size:cover;}

.coli{
	height:520px;
	border:5px solid #FFF;}

